<table class="container-fluid">
    <thead>
        <tr class="row table-border-l">
            <th class="col-3"><p>プロフィール画像</p></th>
            <th class="col-3"><p>ユーザー名</p></th>
            <th class="col-4"><p>コメント</p></th>
            <th class="col-2"><p>投稿数</p></th>
        </tr>
    </thead>
    <tbody>
        <!--ページネーション-->
        <% users_p = users.page(params[:page]) %>
        <% users_p.each do |user| %>
                <tr class="row table-border-s">
                    <td class="col-3">
                        <%= link_to user_path(user.id) do %>
                            <%= image_tag user.show_p_img(60,60) %>
                        <% end %>
                    </td>
                    <td class="col-3">
                        <%= link_to user_path(user.id) do %>
                            <%= user.nickname %>
                        <% end %>
                    </td>
                    <td class="col-4"><p><%= user.show_comment %></p></td>
                    <td class="col-2"><p><%= user.posts.count %>件</p></td>
                </tr>
        <% end %>
    </tbody>
</table>

<%= paginate users_p %>