<!--エラーメッセージ表示-->
<% if @post.errors.any? %>
    <%= @post.errors.count %>件のエラーが発生しました
    <ul>
        <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
    </ul>
<% elsif @tag.errors.any? %>
    <%= @tag.errors.count %>件のエラーが発生しました
    <ul>
        <% @tag.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
    </ul>
<% end %>



<!--タイトル基本情報等-->
<div class="container">
    <div>
        <h2><%= @post.title %></h2>
        <span class="ml-auto">投稿日　<%= @post.updated_at %></span>
    </div>
    
    <!--投稿者・名前-->
    <div class="row">
        <div class="col my-4">
            <%= link_to admin_user_path(@post.user.id) do %>
                <%= image_tag @post.user.show_p_img(60,60), size: "60x60" %>
                <span>投稿者：<%= @post.user.nickname %></span>
            <% end %>
        </div>
    </div>
</div>



<div class="container">
    <div class="row">
        
        <!--タグ機能-->
        <div class="col-4 mx-1">
            <p>登録されているタグ</p>
            <p>(1～15文字、5個まで)</p>
            
            <!--タグを表示-->
            <div>
                <% @t_lists.each do |t_list| %>
                    <div class="d-flex">
                        <p class="mx-2"><%= t_list.tag.body %></p>
                        <%= link_to admin_post_tag_tag_list_path(@post.id, t_list.tag.id, t_list.id), method: :delete, "data-confirm" => "本当にタグを削除しますか？" do %>
                            <p>タグを削除</p>
                        <% end %>
                    </div>
                <% end %>
            </div>
        </div>
        
        
        <div>
            <!--投稿画像-->
            <div class="post_img mx-auto"><%= image_tag @post.image, size: "600x600" %></div>
            <!--投稿者コメント-->
            <div class="mx-auto my-1 comment-box"><p>投稿者コメント<br><%= @post.body %></p></div>
            
        </div>
    
    
    </div>
</div>




<!--コメント関係-->
<div class="container">
    
    <!--コメント総数-->
    <p><%= @post.comments.count %>件のコメント <i class="fa-regular fa-comment"></i></p>
    
    <!--閲覧者コメントテーブル-->
    <table>
        <tbody>
            <% @post.comments.each do |comment| %>
            <tr>
                <td class="col-6"><p><%= comment.body %></p></td>
                <td class="col-2"><p><%= comment.user.nickname %></p></td>
                <td class="col-2"><%= comment.updated_at %></td>
                <td class="col-2">
                    <!--コメント削除ボタン-->
                    <%= link_to admin_post_comment_path(comment.post.id, comment.id), method: :delete, "data-confirm" => "本当にコメントを削除しますか？" do %>
                        <p class="btn btn-sm btn-danger">コメントを削除する</p>
                    <% end %>
                </td>
            </tr>
            <% end %>
        </tbody>
    </table>
    
</div>



<!--投稿編集ボタン-->
<div class="container">
    <% if user_signed_in? %>
        <% if @post.user_id == current_user.id %>
            <%= link_to edit_post_path(@post.id) do %>
                <p class="btn btn-info mx-1">投稿を編集する</p>
            <% end %>
            <%= link_to post_path(@post.id), method: :delete, "data-confirm" => "本当に削除しますか？" do %>
                <p class="btn btn-danger mx-1">投稿を削除する</p>
            <% end %>
        <% end %>
    <% end %>
</div>