<div class="d-flex justify-content-center">
        <div class="mx-auto"><%= image_tag user.show_p_img(100, 100) %></div>
</div>
<p class="mx-auto">ニックネーム　<%= user.nickname %></p>
<p class="mx-auto">email　<%= user.email %></p>

<p class="mx-auto">コメント:<%= user.body %></p>

<p class="mx-auto">これまで投稿した数:<%= user.posts.count %>件</p>
<p class="mx-auto">これまで投稿へのコメントした数:<%= user.comments.count %>件</p>

<!--ゲストログイン時に消滅-->
<% if current_user.email != "guest@example.com" %>
<table class="container-fluid">
    <thead>
        <tr class="row table-border-l">
            <th class="col-8 table-border-s">
                <p>参加・参加希望中のグループリスト</p>
            </th>
            <th class="col-4">
                <p>リンク</p>
            </th>
        </tr>
        </tr>
    </thead>
    <tbody>
        <% groups.each do |group| %>
        <tr class="row table-border-s">
            <td class="col-8 table-border-s">
                <%= group.title %>
            </td>
            <td class="col-4 table-border-s">
                <%= link_to group_path(group.id) do %>
                    <p class="btn btn-info">移動</p>
                <% end %>
            </td>
        </tr>
        <% end %>
        <%= paginate groups %>
    </tbody>
</table>
<% end %>