<h2>ユーザープロフィール編集</h2>

<!--エラーメッセージ表示-->
<% if @user.errors.any? %>
    <%= @user.errors.count %>件のエラーが発生しました
    <ul>
        <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
    </ul>
<% end %>

<div class="mx-auto">
  <%= form_with model: @user do |f| %>
  
   <div class="field">
      <%= f.label :name, "氏名" %><br/>
      <%= f.text_field :name %>
    </div>
    
    <div class="field">
      <%= f.label :nickname, "ニックネーム" %><br/>
      <%= f.text_field :nickname %>
    </div>
    
    <div class="field my-3">
      <%= f.label :image, "プロフィール画像" %><br/>
      <%= f.file_field :image, accept: "image/*" %>
    </div>
    
    <div class="field my-3">
      <%= f.label :body, "コメント" %><br/>
      <%= f.text_area :body %>
    </div>
    
    <div class="field my-3">
      <%= f.label :email, "メールアドレス" %><br/>
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>
  
    <div class="actions my-3">
      <%= f.submit "編集完了" %>
    </div>
  <% end %>
</div>

<!--退会手続きへのリンク-->
<div class="d-flex my-5 mr-3">
  <p class="ml-auto">退会手続き（アカウント削除）はこちら→</p>
  <%= link_to unsubscribe_users_path do %>
    <p class="btn btn-danger btn-sm">退会手続きへ</p>
  <% end %>
</div>
