<!--ローカル変数としてg_messages, groupが必要-->
    
<table class="container-fluid">
    <thead>
        <tr class="row table-border-s">
            <th class="col-6 table-border-s">
                <p>グループメッセージ</p>
            </th>
            <th class="col-2 table-border-s">
                <p>投稿者</p>
            </th>
            <th class="col-2 table-border-s">
                <p>日時</p>
            </th>
            <th class="col-2 table-border-s">
            </th>
        </tr>
    </thead>
    <tbody>
        <!--メッセージ一覧-->
        <% g_messages.each do |g_message| %>
        <tr class="row table-border-s">
            <td class="col-6 text-break table-border-s">
                <%= g_message.body %>
            </td>
            <td class="col-2 table-border-s">
                <%= g_user(g_message.user_id).nickname %>
            </td>
            <td class="col-2 table-border-s">
                <%= g_message.updated_at %>
            </td>
            <td class="col-2 table-border-s">
                <% if g_message.user_id == current_user.id || group.owner_id == current_user.id %>
                    <%= link_to group_group_message_path(params[:id], g_message.id), method: :delete, "data-confirm" => "本当に削除しますか？", class: "col-2" do %>
                        <p class="btn btn-danger btn-sm">削除</p>
                    <% end %>
                <% end %>
            </td>
        </tr>
        <% end %>
    </tbody>
</table>

<%= paginate g_messages %>