<h3>グループ一覧</h3>

<!--ゲストログイン時に消滅-->
<% if current_user.email != "guest@example.com" %>
    <div>
        <%= link_to new_group_path do %>
            <p class="btn btn-info">グループを作成</p>
        <% end %>
    </div>
<% end %>

<table class="container-fluid">
    <thead>
        <tr class="table-border-l row">
            <!--画像用空白セル-->
            <th class="col-3"></th>
            <th class="col-4"><p>グループ名</p></th>
            <th class="col-3"><p>オーナー</p></th>
            <th class="col-2"><p>人数</p></th>
        </tr>
    </thead>
    <tbody>
        <% @groups.each do |group| %>
        <tr class="table-border-s row mt-3">
            <td class="col-7 border border-5">
                <%= link_to group_path(group.id) do %>
                    <div class="d-flex ml-3">
                        <%= image_tag group.show_g_img(60,60) %>
                        <p class="mx-3"></p><%= group.title %>
                    </div>
                <% end %>
            </td>
            <td class="col-3">
                <%= link_to user_path(group.owner_id) do %>
                    <p><%= g_user(group.owner_id).nickname %></p>
                <% end %>
            </td>
            <td class="col-2">
                <p><%= g_count(group.id) %>人</p>
            </td>
        </tr>
        <tr class="mb-3">
            <td><p class="ml-3"><%= group.body %></p></td>
        </tr>
        <% end %>
    </tbody>
</table>

<%= paginate @groups %>