<div class="d-flex align-items-center g-title">
    <div><%= image_tag @group.show_g_img(100,100) %></div>
    <h2><%= @group.title %>のグループページ</h2>
</div>

<!--グループメッセージのエラーメッセージ表示-->
<% if @g_message.errors.any? %>
    <%= @g_message.errors.count %>件のエラーが発生しました
    <ul>
        <% @g_message.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
    </ul>
<% end %>

<div class="container-fluid">
    <div class="row-fluid d-flex">
        <!--紹介文-->
        <p class="col-9"><%= @group.body %></p>
        <!--入退会メニュー兼編集破棄ボタン-->
        <!--ゲストログイン時に消滅-->
        <% if current_user.email != "guest@example.com" %>
        <div class="col-3">
            <% if current_user.id == @group.owner_id %>
                
                <%= link_to group_group_members_path(@group.id) do %>
                    <p class="btn btn-info">グループメンバーを編集</p>
                <% end %>
                
                <%= link_to edit_group_path(@group.id) do %>
                    <p class="btn btn-info">グループを編集</p>
                <% end %>
                <%= link_to group_path(@group.id), method: :delete, "data-confirm" => "本当にグループを削除しますか？" do %>
                    <p class="btn btn-danger">グループを削除</p>
                <% end %>
                
            <% elsif @group.exist_user?(current_user) %>
               
                <% if is_member?(current_user.id) %>
                    <%= link_to group_group_member_path(@group.id, current_user.id), method: :delete, "data-confirm" => "本当にグループを退会しますか？" do %>
                        <p class="btn btn-danger">グループを退会</p>
                    <% end %>
                <% else %>
                    <p class="btn btn-info disabled">グループに参加申請中</p>
                    
                    <%= link_to group_group_member_path(@group.id, current_user.id), method: :delete, "data-confirm" => "本当に取り消しますか？" do %>
                        <p class="btn btn-danger">参加申請を取り消す</p>
                    <% end %>
                <% end %>
                
            <% else %>
                <%= link_to group_group_members_path(@group.id), method: :post do %>
                    <p class="btn btn-info">グループに参加申請</p>
                <% end %>
            <% end %>
        </div>
        <% end %>
    </div>
</div>


<!--オーナー紹介エリア-->
<div class="container-fluid">
    <div class="row-fluid my-3">
        <%= link_to user_path(@group.owner_id), class: "col ml-3" do %>
            <%= image_tag @group.g_user(@group.owner_id).show_p_img(60,60) %>
            <span>グループオーナー：<%= @group.g_user(@group.owner_id).nickname %></span>
        <% end %>
    </div>
</div>


<!--ユーザーのグループステータス-->
<div>
    <% if current_user.id == @group.owner_id %>
        <p>あなたのグループステータスは：オーナーです</p>
    <% elsif @group.exist_user?(current_user) %>
        <% if is_member?(current_user.id) %>
            <p>あなたのグループステータスは：メンバーです</p>
        <% else %>
            <p>あなたのグループステータスは：メンバー加入申請中です</p>
        <% end %>
    <% else %>
        <p>あなたのグループステータスは：メンバーではありません</p>
    <% end %>
</div>





<div class="container-fluid">
    <div class="row-fluid d-flex">
        <!--メンバー投稿-->
        <div class="col-6">
            <%= link_to search_path(:model => "group_post", :group_id => @group.id) do %>
                <p class="btn btn-info">グループメンバーの投稿を検索</p>
            <% end %>
        </div>
        <!--グループメンバー-->
        <div class="col-6">
            <%= link_to search_path(:model => "group_member", :group_id => @group.id) do %>
                <p class="btn btn-info">このグループのメンバーを検索</p>
            <% end %>
        </div>
    </div>
    <div class="row-fluid">
        <!--グループメッセージ-->
        <div class="col">
            <%= render 'group_message', g_messages: @g_messages, group: @group %>
        </div>
    </div>
</div>

<% if is_member?(current_user.id) %>
    <div class="container my-3">
        <!--メッセージ投稿-->
        <div>
            <%= form_with model: @g_message, url: group_group_messages_path(params[:id]), method: :post do |f| %>
            <p>グループメッセージ投稿</p>
            <%= f.text_area :body, size: "60x2", placeholder:"100文字以内で入力してください" %>
            <%= f.submit 'メッセージ投稿' %>
            <% end %>
        </div>
    </div>
<% end %>