<h2><%= @group.title %>のグループページ</h2>

<!--グループメッセージのエラーメッセージ表示-->
<% if @g_message.errors.any? %>
    <%= @g_message.errors.count %>件のエラーが発生しました
    <ul>
        <% @g_message.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
    </ul>
<% end %>

<div class="container-fluid">
    <div class="row">
        <!--紹介文-->
        <p class="col-9"><%= @group.body %></p>
        <!--入退会メニュー兼編集破棄ボタン-->
        <div class="col-3">
            <% if current_user.id == @group.owner_id %>
                
                <%= link_to group_group_members_path(@group.id) do %>
                    <p class="btn btn-info">グループメンバーを編集</p>
                <% end %>
                
                <%= link_to group_path(@group.id), method: :patch do %>
                    <p class="btn btn-info">グループを編集</p>
                <% end %>
                <%= link_to group_path(@group.id), method: :delete, "data-confirm" => "本当にグループを削除しますか？" do %>
                    <p class="btn btn-danger">グループを削除</p>
                <% end %>
                
            <% elsif @group.exist_user?(current_user) %>
               
                <% if is_member?(current_user.id) %>
                    <%= link_to group_group_member_path(@group.id, current_user.id), method: :delete, "data-confirm" => "本当にグループを退会しますか？" do %>
                        <p class="btn btn-danger">グループを退会</p>
                    <% end %>
                <% else %>
                    <p class="btn btn-info disabled">グループに参加申請中</p>
                <% end %>
                
            <% else %>
                
                <%= link_to group_group_members_path(@group.id), method: :post do %>
                    <p class="btn btn-info">グループに参加申請</p>
                <% end %>
                
            <% end %>
        </div>
    </div>
</div>


<!--オーナー紹介エリア-->
<div class=""container-fluid"">
    <div class="row my-3">
        <%= link_to user_path(@group.owner_id), class: "col ml-3" do %>
            <%= image_tag g_user(@group.owner_id).show_p_img(60,60), size: "60x60" %>
            <span>グループオーナー：<%= g_user(@group.owner_id).nickname %></span>
        <% end %>
    </div>
</div>


<!--ユーザーのグループステータス-->
<div>
        <% if current_user.id == @group.owner_id %>
            <p>あなたのグループステータスは：オーナーです</p>
        <% elsif @group.exist_user?(current_user) %>
            <% if is_member?(current_user.id) %>
                <p>あなたのグループステータスは：メンバーです</p>
            <% else %>
                <p>あなたのグループステータスは：メンバー加入申請中です</p>
            <% end %>
        <% else %>
            <p>あなたのグループステータスは：メンバーではありません</p>
        <% end %>
</div>





<div class="container-fluid">
    <div class="row">
        
        <!--メンバー投稿一覧-->
        <div class="col-3">
            <p class="container table-border-l">メンバー投稿</p>
            <!--メンバーを抽出-->
            <% @g_mems.each do |member| %>
                
                <!--ページネーション-->
                <% g_posts = g_user(member.user_id).posts %>
                <% g_posts = g_posts.page(params[:page]) %>
                
                <!--投稿を抽出-->
                <% g_posts.each do |post| %>
                    <%= link_to post_path(post.id) do %>
                        <div class="row mx-1 table-border-s">
                            <%= image_tag post.image, size: "60x60" %>
                            <span class="col"><%= post.title %></span>
                        </div>
                    <% end %>
                <% end %>
                <%= paginate g_posts %>
            <% end %>
        </div>
        
        <!--メンバー一覧-->
        <div class="col-3">
            <p class="container table-border-l">メンバー一覧</p>
            <!--メンバーを抽出：-->
            <% @g_mems.each do |member| %>
                <%= link_to user_path(member.user_id) do %>
                    <div class="row mx-1 table-border-s">
                        <%= image_tag g_user(member.user_id).show_p_img(60,60), size: "60x60" %>
                        <span class="col"><%= g_user(member.user_id).nickname %></span>
                    </div>
                <% end %>
            <% end %>
            <%= paginate @g_mems %>
        </div>
        
        
        <!--グループメッセージ-->
        <div class="col-6">
            <p class="container table-border-l">グループメッセージ</p>
            <!--メッセージ一覧-->
            <% @g_messages.each do |g_message| %>
            <div class="row mx-1 table-border-s">
                <p class="col-8"><%= g_message.body %></p>
                <span class="col-2"><%= g_user(g_message.user_id).nickname %></span>
                <% if g_message.user_id == current_user.id %>
                    <%= link_to group_group_message_path(params[:id], g_message.id), method: :delete, "data-confirm" => "本当に削除しますか？", class: "col-2" do %>
                        <p class="btn btn-danger btn-sm">削除</p>
                    <% end %>
                <% end %>
            </div>
            <% end %>
            <%= paginate @g_messages %>
        </div>
        
    </div>
</div>

<% if is_member?(current_user.id) %>
    <div class="container my-3">
        <!--メッセージ投稿-->
        <div>
            <%= form_with model: @g_message, url: group_group_messages_path(params[:id]), method: :post do |f| %>
            <p>グループメッセージ投稿</p>
            <%= f.text_area :body, size: "60x2" %>
            <%= f.submit 'メッセージ投稿' %>
            <% end %>
        </div>
    </div>
<% end %>