<!--投稿一覧なら-->


<% if posts != nil && posts != [] %>
<!--投稿が存在かつ空でない＝投稿検索結果-->
    <table>
        <thead>
            <tr class="table-border-l">
                <th><p>画像</p></th>
                <th><p>タイトル</p></th>
                <th><p>投稿者</p></th>
            </tr>
        </thead>
        <tbody>
            <% posts.each do |post| %>
            <tr class="table-border-s">
                <td>
                    <%= link_to post_path(post.id) do %>
                        <%= image_tag post.image, size: "80x80" %>
                    <% end %>
                </td>
                <td>
                    <%= link_to post_path(post.id) do %>
                        <%= post.title %>
                    <% end %>
                </td>
                <td>
                    <%= link_to user_path(post.user.id) do %>
                        <%= post.user.nickname %>
                    <% end %>
                </td>
            </tr>
            <% end %>
        </tbody>
    </table>
<% else %>
    <% if users != nil && posts != [] %>
    <!--ユーザーが存在かつ空でない＝ユーザー検索結果-->
        <table>
            <thead>
                <tr class="table-border-l">
                    <th><p>画像</p></th>
                    <th><p>投稿者</p></th>
                </tr>
            </thead>
            <tbody>
                <% users.each do |user| %>
                <tr class="table-border-s">
                    <td>
                        <%= link_to user_path(user.id) do %>
                            <%= image_tag user.show_p_img(60,60), size: "60x60" %>
                        <% end %>
                    </td>
                    <td>
                        <%= link_to user_path(user.id) do %>
                            <%= user.nickname %>
                        <% end %>
                    </td>
                </tr>
                <% end %>
            </tbody>
        </table>
    <% else %>
    <!--ユーザーと投稿がどちらも存在しないもしくは空-->
        <div>
            <p>検索に一致するものはありませんでした。</p>
            <p>一度に検索できる語句は一つまでとなっています。</p>
            <p>かな・カナ・漢字の表現を変えてお試しください。</p>
        </div>
    <% end %>
<% end %>