<!--投稿一覧なら-->


<% if defined?(posts) && posts != nil && posts != [] %>
<!--投稿が存在かつ空でない＝投稿検索結果-->
    <table>
        <thead>
            <tr class="table-border-l">
                <th><p>画像</p></th>
                <th><p>タイトル</p></th>
                <th><p>投稿者</p></th>
                <th><p>コメント数</p></th>
            </tr>
        </thead>
        <tbody>
            <!--ページネーション-->
            <% posts_p = posts.page(params[:page]) %>
            <% posts_p.each do |post| %>
            <tr class="table-border-s">
                <td>
                    <%= link_to post_path(post.id) do %>
                        <%= image_tag(post.image.variant(resize_to_limit: [80, 80]).processed) %>
                    <% end %>
                </td>
                <td>
                    <%= link_to post_path(post.id) do %>
                        <%= post.title %>
                    <% end %>
                </td>
                <td>
                    <%= link_to user_path(post.user.id) do %>
                        <%= post.user.nickname %>
                    <% end %>
                </td>
                <td>
                    <%= post.comments.count %>件のコメント
                </td>
            </tr>
            <% end %>
        </tbody>
    </table>
    
    <%= paginate posts_p %>
<% elsif defined?(users) && users != nil && users != [] %>
<!--ユーザーが存在かつ空でない＝ユーザー検索結果-->
    <table>
        <thead>
            <tr class="table-border-l">
                <th><p>プロフィール画像</p></th>
                <th><p>ユーザー名</p></th>
            </tr>
        </thead>
        <tbody>
            <!--ページネーション-->
            <% users_p = users.page(params[:page]) %>
            <% users_p.each do |user| %>
            <tr class="table-border-s">
                <td>
                    <%= link_to user_path(user.id) do %>
                        <%= image_tag user.show_p_img(60,60) %>
                    <% end %>
                </td>
                <td>
                    <%= link_to user_path(user.id) do %>
                        <%= user.nickname %>
                    <% end %>
                </td>
            </tr>
            <% end %>
        </tbody>
    </table>
    
    <%= paginate users_p %>
    
<% else %>
<!--ユーザー、投稿、タグがいずれもも存在しないもしくは空-->
    <div>
        <p>検索に一致するものはありませんでした。</p>
        <p>一度に複数の語句で絞り込むのではなく、少ない単語でお試しください。</p>
        <p>検索条件を変更するか、かな・カナ・漢字の表現を変えてお試しください。</p>
    </div>
<% end %>
