<h2 class="py-2 p-title">投稿編集</h2>

<!--エラーメッセージ表示-->
<% if @post.errors.any? %>
    <%= @post.errors.count %>件のエラーが発生しました
    <ul>
        <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
    </ul>
<% end %>

<div class="mx-auto">
    <%= form_with model: @post do |f| %>
    
    <p>画像</p>
    <%= f.file_field :image, accept: "image/*" %>
    
    <p>タイトル</p>
    <%= f.text_field :title %>
    
    <p>説明文</p>
    <%= f.text_area :body %>
    
    <%= f.submit '編集を保存' %>
    <% end %>
</div>