<!--エラーメッセージ表示-->
<% if @comment.errors.any? %>
    <%= @comment.errors.count %>件のエラーが発生しました
    <ul>
        <% @comment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
    </ul>
<% elsif @tag.errors.any? %>
    <%= @tag.errors.count %>件のエラーが発生しました
    <ul>
        <% @tag.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
    </ul>
<% end %>



<!--タイトル基本情報等-->
<div class="container">
    <div>
        <h2><%= @post.title %></h2>
        <span class="ml-auto">投稿日　<%= @post.created_at %></span>
    </div>
    
    <!--投稿者・名前-->
    <div class="row">
        <div class="col my-4">
            <%= link_to user_path(@post.user.id) do %>
                <%= image_tag @post.user.show_p_img(60,60), size: "60x60" %>
                <span>投稿者：<%= @post.user.nickname %></span>
            <% end %>
        </div>
    </div>
</div>



<div class="container">
    <div class="row">
        
        <!--タグ機能-->
        <div class="col-4 px-1">
            <p>登録されているタグ</p>
            <p>(1～15文字、5個まで)</p>
            
            <!--タグを表示-->
            <div class="container-fluid">
                <% @t_lists.each do |t_list| %>
                    <div class="d-flex row my-2">
                        <p class="col-7">・<%= t_list.tag.name %></p>
                        <!--ゲストログイン時に消滅-->
                        <% if current_user.email != "guest@example.com" %>
                            <%= link_to post_tag_tag_list_path(@post.id, t_list.tag.id, t_list.id), method: :delete, "data-confirm" => "本当にタグを削除しますか？", class: "col-5" do %>
                                <p class="btn btn-danger btn-sm mx-1">タグ削除</p>
                            <% end %>
                        <% end %>
                    </div>
                <% end %>
            </div>
            
            <!--タグ登録機能 5個まで-->
            <!--ゲストログイン時消滅-->
            <% if current_user.email != "guest@example.com" %>
            <div>
                <% if @t_lists.count < 5 %>
                    <%= form_with model: @tag, url: post_tags_path(@post.id), method: :post do |f| %>
                        <%= f.text_area :name, size: "15x2", placeholder: "タグを入力（15文字以内）" %>
                        <%= f.submit "タグを登録" %>
                    <% end %>
                <% else %>
                    <p>タグ登録数上限に達しました</p>
                <% end %>
            </div>
            <% end %>
        </div>
        
        
        <div class="col-8">
            <!--投稿画像-->
            <div class="mx-auto"><%= image_tag @post.image, class: "post_img img-fluid" %></div>
            <!--投稿者コメント-->
            <div class="mx-auto my-1 comment-box"><p>投稿者コメント<br><%= @post.body %></p></div>
            
        </div>
    
    
    </div>
</div>




<!--コメント関係-->
<div class="container mx-auto">
    
    <!--コメント総数-->
    <p><%= @post.comments.count %>件のコメント <i class="fa-regular fa-comment"></i></p>
    
    
    <!--コメント投稿フォーム-->
    <!--ゲストログイン時消滅-->
    <% if current_user.email != "guest@example.com" %>
    <div>
        <%= form_with model: [@post, @comment] do |f| %>
            <%= f.text_area :body, size: "60x2", placeholder: "コメントはこちら（100文字まで）" %>
            <%= f.submit "コメントを送信" %>
        <% end %>
    </div>
    <% end %>
    
    <!--閲覧者コメントテーブル-->
    <table class="container-fluid my-3 table-border-l">
        <tbody>
            <% @comments_p.each do |comment| %>
                <tr class="row table-border-s">
                    <td class="col-6 text-break"><p><%= comment.body %></p></td>
                    <td class="col-2"><p><%= comment.user.nickname %></p></td>
                    <td class="col-2"><%= comment.updated_at %></td>
                    <td class="col-2">
                        <!--コメント削除ボタン-->
                        <% if user_signed_in? %>
                            <% if comment.user_id == current_user.id || @post.user_id == current_user.id %>
                                <%= link_to post_comment_path(@post.id, comment.id), method: :delete, "data-confirm" => "本当にコメントを削除しますか？" do %>
                                    <p class="btn btn-sm btn-danger">コメント削除</p>
                                <% end %>
                            <% end %>
                        <% end %>
                    </td>
                </tr>
            <% end %>
            <!--ページネート済み-->
            <%= paginate @comments_p %>
        </tbody>
    </table>
</div>



<!--投稿編集ボタン-->
<div class="container">
    <% if user_signed_in? %>
        <% if @post.user_id == current_user.id %>
            <%= link_to edit_post_path(@post.id) do %>
                <p class="btn btn-info mx-1">投稿を編集する</p>
            <% end %>
            <%= link_to post_path(@post.id), method: :delete, "data-confirm" => "本当に削除しますか？" do %>
                <p class="btn btn-danger mx-1">投稿を削除する</p>
            <% end %>
        <% end %>
    <% end %>
</div>