<h2><%= @post.title %></h2>

<div class="container">
    <!--投稿者・名前-->
    <div class="row">
        <div class="col my-4">
            <%= image_tag @post.user.show_p_img(60,60), size: "60x60" %>
            <span>投稿者：<%= @post.user.nickname %></span>
        </div>
    </div>
    
    <!--投稿画像-->
    <div class="post_img mx-auto"><%= image_tag @post.image, size: "600x600" %></div>
    <!--投稿コメント-->
    <div class="mx-auto my-3 comment-box"><p>コメント<br><%= @post.body %></p></div>
    
    <% if user_signed_in? %>
        <% if @post.user_id == current_user.id %>
            <%= link_to edit_post_path(@post.id) do %>
                <p class="btn btn-info mx-1">投稿を編集する</p>
            <% end %>
            <%= link_to post_path(@post.id), method: :delete, "data-confirm" => "本当に削除しますか？" do %>
                <p class="btn btn-danger mx-1">投稿を削除する</p>
            <% end %>
        <% end %>
    <% end %>
</div>