<h2 class="py-2 g-title">グループ一覧</h3>

<table class="container-fluid">
    <thead>
        <tr class="table-border-l row-fluid">
            <!--画像用空白セル-->
            <th class="col-9"><p>グループ名</p></th>
            <th class="col-2"><p>オーナー</p></th>
            <th class="col-1"><p>人数</p></th>
        </tr>
    </thead>
    <tbody>
        <% @groups.each do |group| %>
        <tr class="table-border-l row-fluid mt-3">
            <td class="col-9">
                <%= link_to admin_group_path(group.id) do %>
                    <div class="d-flex g-main text-white">
                        <%= image_tag group.show_g_img(60,60) %>
                        <p class="mx-3"></p><%= group.title %>
                    </div>
                <% end %>
            </td>
            <td class="col-2">
                <%= link_to admin_user_path(group.owner_id) do %>
                    <p><%= group.g_user(group.owner_id).nickname %></p>
                <% end %>
            </td>
            <td class="col-1">
                <p><%= group.member_count(group.id) %>人</p>
            </td>
        </tr>
        <tr class="row-fluid mb-3">
            <td class="ml-3"><p><%= group.body %></p></td>
        </tr>
        <% end %>
    </tbody>
</table>

<%= paginate @groups %>