<h2><%= @group.title %>のグループページ</h2>


<div class="container-fluid">
    <div class="row">
        <!--紹介文-->
        <p class="col-9"><%= @group.body %></p>
        <!--入退会メニュー兼編集破棄ボタン-->
        <div class="col-3">
            <%= link_to admin_group_path(@group.id), method: :delete, "data-confirm" => "本当にグループを削除しますか？" do %>
                <p class="btn btn-danger">グループを削除</p>
            <% end %>
        </div>
    </div>
</div>


<!--オーナー紹介エリア-->
<div class=""container-fluid"">
    <div class="row my-3">
        <%= link_to admin_user_path(@group.owner_id), class: "col ml-3" do %>
            <%= image_tag g_user(@group.owner_id).show_p_img(60,60) %>
            <span>グループオーナー：<%= g_user(@group.owner_id).nickname %></span>
        <% end %>
    </div>
</div>


<!--ユーザーのグループステータス-->
<div>
    <p>あなたのグループステータスは：サイト管理者です</p>
</div>


<div class="container-fluid">
    <div class="row">
        <!--メンバー投稿-->
        <div class="col-6">
            <%= link_to admin_search_path(:model => "group_post", :group_id => @group.id) do %>
                <p class="btn btn-info">グループメンバーの投稿を検索</p>
            <% end %>
        </div>
        <!--グループメンバー-->
        <div class="col-6">
            <%= link_to admin_search_path(:model => "group_member", :group_id => @group.id) do %>
                <p class="btn btn-info">このグループのメンバーを検索</p>
            <% end %>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p class="container table-border-l">グループメッセージ</p>
            <!--メッセージ一覧-->
            <% @g_messages.each do |g_message| %>
            <div class="row mx-1 table-border-s">
                <p class="col-8"><%= g_message.body %></p>
                <span class="col-2"><%= g_user(g_message.user_id).nickname %></span>
                <%= link_to admin_group_group_message_path(params[:id], g_message.id), method: :delete, "data-confirm" => "本当に削除しますか？", class: "col-2" do %>
                    <p class="btn btn-danger btn-sm">削除</p>
                <% end %>
            </div>
            <% end %>
            <%= paginate @g_messages %>
        </div>
        
    </div>
</div>