<div class="d-flex align-items-center g-title">
    <div><%= image_tag @group.show_g_img(100,100) %></div>
    <h2><%= @group.title %>のグループページ</h2>
</div>


<div class="container-fluid">
    <div class="row-fluid d-flex">
        <!--紹介文-->
        <p class="col-9"><%= @group.body %></p>
        <!--入退会メニュー兼編集破棄ボタン-->
        <div class="col-3">
            <%= link_to admin_group_path(@group.id), method: :delete, "data-confirm" => "本当にグループを削除しますか？" do %>
                <p class="btn btn-danger">グループを削除</p>
            <% end %>
        </div>
    </div>
</div>


<!--オーナー紹介エリア-->
<div class="container-fluid">
    <div class="row-fluid my-3">
        <%= link_to admin_user_path(@group.owner_id), class: "col ml-3" do %>
            <%= image_tag @group.g_user(@group.owner_id).show_p_img(60,60) %>
            <span>グループオーナー：<%= @group.g_user(@group.owner_id).nickname %></span>
        <% end %>
    </div>
</div>


<!--ユーザーのグループステータス-->
<div>
    <p>あなたのグループステータスは：サイト管理者です</p>
</div>


<div class="container-fluid">
    <div class="row-fluid d-flex">
        <!--メンバー投稿-->
        <div class="col-6">
            <%= link_to admin_search_path(:model => "group_post", :group_id => @group.id) do %>
                <p class="btn btn-info">グループメンバーの投稿を検索</p>
            <% end %>
        </div>
        <!--グループメンバー-->
        <div class="col-6">
            <%= link_to admin_search_path(:model => "group_member", :group_id => @group.id) do %>
                <p class="btn btn-info">このグループのメンバーを検索</p>
            <% end %>
        </div>
    </div>
    <div class="row-fluid">
        <div class="col">
            <%= render 'group_message', group: @group, g_messages: @g_messages %>
        </div>
        
    </div>
</div>