<!DOCTYPE html>
<html>
  <head>
    <title>green_pictures</title>
    <meta name="viewport" content="width=device-width,initial-scale=1, maximum-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <script src="https://kit.fontawesome.com/764dde4a53.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="d-flex flex-column vh-100">
    <header class="u-header">
      <!--ナビゲーションバー-->
      <nav class="navbar navbar-expand-lg navbar-dark">
        <div class="container">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse", id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item"><%= link_to "TOP", root_path, class:'text-white mx-1' %></li>
              <% if user_signed_in? %>
              
              <!--ゲストログイン時に消滅-->
              <% if current_user.email != "guest@example.com" %>
                <li class="nav-item"><%= link_to "新規投稿", new_post_path, class:'text-white mx-1' %></li>
                <li class="nav-item"><%= link_to "マイページ", mypage_users_path, class:'text-white mx-1' %></li>
              <% end %>
              
              <li class="nav-item"><%= link_to "投稿一覧", posts_path, class:'text-white mx-1' %></li>
              <li class="nav-item"><%= link_to "タグ一覧", tags_path, class:'text-white mx-1' %></li>
              <li class="nav-item"><%= link_to "グループ一覧", groups_path, class:'text-white mx-1' %></li>
              <li class="nav-item"><%= link_to "ログアウト", destroy_user_session_path, method: :delete, class:'text-white mx-1' %></li>
              <% else %>
              <li class="nav-item"><%= link_to "ゲストログイン（閲覧用）", user_guest_sign_in_path, method: :post, class:'text-white mx-1' %></li>
              <li class="nav-item"><%= link_to "新規ユーザー登録", new_user_registration_path, class:'text-white mx-1' %></li>
              <li class="nav-item"><%= link_to "ログイン", new_user_session_path, class:'text-white mx-1' %></li>
              <% end %>
            </ul>
          </div>
        </div>
      </nav>
      <% if user_signed_in? %>
        <% if current_user.email == "guest@example.com" %>
          <p class="text-info bg-dark text-center">ゲストユーザーとしてログイン中（一部機能が制限されています）</p>
        <% end %>
      <% end %>
    </header>
    
    <!--検索バー-->
    <% if user_signed_in? %>
      <div class="container search_bar">
        <div class="float-right d-flex">
          <span class="mx-2"><i class="fa-solid fa-magnifying-glass"></i></span>
          <%= form_with url: search_path, method: :get do |f| %>
            <!--検索ワード:word-->
            <%= f.text_field :word, required: true, placeholder: "検索したい単語を入力" %>
            <!--検索ワード:time-->
            <span>指定した日時以降で絞り込み(オプション) :</span>
            <%= f.date_field :time %>
            <!--検索モデル選択（投稿・ユーザー名）-->
            <%= f.select :model, [["投稿を検索", "post"], ["ユーザーを検索", "user"], ["タグで検索", "tag"]], {selected: "post"} %>
            <%= f.submit "検索" %>
          <% end %>
        </div>
      </div>
    <% end %>
    
    <!--フラシュメッセージ-->
    <% flash.each do |message_type, message| %>
      <div class="flash-message,<%= message_type %>"><%= message %></div>
    <% end %>
    
    <%= yield %>
    
    <footer class="footer mt-auto">
      <p class="text-center text-white">© 2024 K.N.</p>
    </footer>
    
  </body>
</html>
